@import 'utils/variables';
@import 'base/defaults';
@import 'components/common-container';
@import 'components/header-conteiner';
@import 'components/logo';
@import 'components/header-navigation';
@import 'components/header-contacts';
@import 'components/hero';
@import 'components/advantages';
@import 'components/doings';
@import 'components/team';
@import 'components/social-links';
@import 'components/clients';
@import 'components/portfolio';
@import 'components/portfolio-works-list';
@import 'components/portfolio-overlay';
@import 'components/footer-main';

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;

  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  outline: none;

  cursor: pointer;
}

.modal-close-icon {
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon {
  fill: $accent-color;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* Form in modal window */

.backdrop-header {
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;

  margin-bottom: 12px;
}

.backdrop-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.user-comment,
.user-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;

  margin-bottom: 4px;
}

.form-field {
  padding: 0 40px;
  margin-bottom: 10px;
}

.modal-input {
  width: 448px;
  height: 40px;

  padding-left: 42px;

  cursor: pointer;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  outline: none;
  border-color: $accent-color;
}

.modal-input:focus + .modal-icon {
  fill: $accent-color;
}

.comment-area {
  width: 448px;
  height: 120px;

  padding: 12px 16px;

  resize: none;

  cursor: pointer;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area:focus {
  outline: none;
  border-color: $accent-color;
}

.comment-area::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.comment {
  margin-bottom: 20px;
}

.input-icon {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;

  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  padding-right: 51px;
  padding-left: 52px;
  margin-bottom: 30px;
}

.terms,
.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox-text {
  margin-left: 24px;
  color: #757575;
}

.terms {
  text-decoration: underline;
  color: $accent-color;
}

.checkbox-label {
  display: inline-block;

  position: relative;
}

.checkbox-icon {
  position: absolute;

  left: 0;
  top: 50%;

  transform: translateY(-50%);

  width: 16px;
  height: 15px;

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.old-checkbox:checked ~ .checkbox-icon {
  background-image: url(../images/form_svg/iconcheck.svg);
  fill: $accent-color;
}

.send-btn {
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #188ce8;

  cursor: pointer;

  padding-right: 55px;
  padding-left: 56px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  outline: transparent;

  color: #ffffff;
  background-color: #188ce8;
  border-color: #188ce8;
}
